.signup-outer-div {
  height: 100vh;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.extended {
  min-height: 650px;
}

.input-form-description-text {
  color: #707070;
  font-size: 12px;
  margin-top: 0.25rem;
}

.terms-links {
  color: #00798a;
}

.sign-up-terms {
  font-size: 12px;
  width: 75%;
  margin: auto;
  text-align: center;
  margin: 0.5rem 0;
}
