.user-group-page-outer-container {
    width:70%;
    max-width:50rem;
    margin:auto;
    border:1px solid red;
    min-height: 100vh;
    margin-top:2.5rem;
    display:flex;
}

.user-group-page-left-container {
    width:30%;
}

.user-group-page-right-container {
    width:70%;
}

.user-group-page-left-return-home-container {
    display: flex;
    padding:2rem;
    margin:auto;
    align-items: center;
}

.left-arrow-container {
    font-size:1.35rem;
    height: fit-content;
}

.back-to-home-page-text{
    width:8rem;
    margin-left:.5rem;
}

.back-to-home-page-text:hover {
    cursor: pointer;
}

.user-group-page-group-card-container{
    margin:1rem 0;
    width:100%;
    display:grid;
    gap:.75rem;
    grid-template-columns: repeat(3,minmax(7.5rem,1fr));
    grid-auto-rows:8rem;
    /* border:1px red solid; */

}

.back-to-home-page-text{
    text-decoration: none;
    color: black;
}
