.event-attendees-profile-card {
  width: 100%;
  /* border:1px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .25rem;
  background-color: white;
  border-radius: .5rem;
  /* padding:1rem; */
}

.event-attendees-profile-inner-card {
  width: 80%;
  height: 100%;
  margin: auto;
  /* border:1px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-attendees-profile-image {
  width: fit-content;
  height: fit-content;
}

.event-profile {
  font-size: 3rem;
  margin: auto;
  color: #008294;
}

.event-attendees-profile-name {
  padding: 0.5rem;
  font-size: 0.95rem;
  text-align: center;
}
