.footer-outer-container{
    color: rgb(246 247 248);
    background-color: rgb(33 33 33);
    width:100%;
    height:8rem;
    display:flex;
    justify-content: center;
}

.footer-inner-container{
    border-color:1px white solid;
    width:70%;
    display: flex;
}
.footer-left-right-container {
    border-color:1px white solid;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}

.footer-dev-links > a {
    text-decoration: none;
    font-size: 1.5rem;
    color:white;
    margin:0 .5rem;
}
