.detailed-profile-card {
  /* border: 1px solid red; */
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  position: relative;
}

.detailed-profile-info {
  padding-left: 1rem;
  color: #212121;
}

.detailed-profile-card-name {
  font-size: 16px;
  font-weight: 600;
}

.detailed-profile-card-joined {
  font-size: 14px;
  font-weight: 100;
}

.detailed-profile-card-menu-elipses {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.detailed-profile-card-menu-container {
  position: absolute;
  right: -20px;
  top: 60px;
  /* border: 1px solid red; */
  background-color: white;
  z-index: 4;
  padding: 0 1rem;
  font-size: 14px;
  font-weight: 100;
  box-shadow: 0 0 5px rgb(197, 195, 195);
  border: 1px solid rgb(197, 195, 195);
  border-radius: 5px;
}
