.group-events-main-body-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 1.25rem;
  background-color: transparent;
  min-height: 80vh;
  align-items: center;
  border-radius: 5px;
}

.group-events-main-body-right.members {
  background-color: white;
}

.group-events-main-body-left {
  width: 40%;
  padding-top: 1.25rem;
}

.group-details-upcoming-container {
  background-color: white;
  border-radius: 0.15rem;
  margin-right: 1rem;
  padding: 1.5rem 0;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.group-details-selected {
  /* border: 1px solid red; */
  border-right: 3px solid rgb(0, 162, 199);
  color: rgb(0, 162, 199);
  width: 95%;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.group-details-not-selected {
  /* border: 1px solid red; */
  border-right: 3px solid transparent;
  width: 95%;
  margin: 0.5rem 0;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.no-event {
  text-align: center;
}
