.group-details-header-title-body > h1 {
  margin-top: 0;
}

.group-details-header-outer {
  border-bottom: solid 1px lightgray;
  border-top: solid 1px lightgray;
  padding: 1.5% 0;
}
.group-details-header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  color: #212121;
}

.group-details-header-image-container {
  width: 60%;
  height: 16rem;
}

#group-details-header-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group-details-header-title-body {
  box-sizing: border-box;
  width: 40%;
  padding: 0 1rem;
}

.group-details-header-spans {
  padding-left: 0.5rem;
}

.group-details-nav-bar-container {
  border-bottom: solid 1px lightgray;
  width: 100%;
}

.group-details-nav-bar {
  padding: 0.25rem 0;
  display: flex;
  width: 70%;
  margin: auto;
}

.group-details-main-body-wrapper {
  display: flex;
  width: 70%;
  margin: auto;
}

.group-details-nav-bar-buttons {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.group-page-navLinks {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #2e3e48;
  margin: 0;
  padding: 0;
  height: fit-content;
}
.group-page-navLinks > span {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.active {
  color: #0098ab;
}

.group-details-main-body-left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.group-details-body-container {
  background-color: #f6f7f8;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.group-details-nav-bar-dropdown {
  width: 40%;
}
.group-details-main-body-right {
  width: 40%;
  padding-left: 40px;
}
.group-details-main-body-right-sticky-menu {
  position: sticky;
  top: 1rem;
  width: 100%;
}

.event-card-container {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  width: 99%;
  height: fit-content;
  padding: 0.65rem;
  margin: 0.35rem 0;
}

.event-card-container:hover {
  background-color: rgb(251, 251, 251);
  box-shadow: 0 0 1px gray;
  cursor: pointer;
}

.group-details-upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.event-card-date-and-time {
  color: #00a2c7;
}

.event-card-top-half {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.event-card-top-half-left {
  flex-grow: 1;
  max-width: 70%;
  margin-left: 0.5rem;
}
.event-card-top-half-right {
  max-width: 30%;
  margin-right: 0.5rem;
}
.event-preview-image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.group-detail-nav-bar-inner-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.45rem;
  color: #2e3e48;
}

.group-detail-nav-bar-inner-button-div > .fa-angle-down {
  margin-left: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group-detail-nav-bar-button {
  background-color: #f6f7f8;
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  margin-left: 1rem;
}

.group-detail-nav-bar-button:hover {
  cursor: pointer;
  background-color: #f0efef;
}

.group-details-main-body-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-detail-nav-bar-dropdown-container {
  position: relative;
}

.group-detail-nav-bar-dropdown-container-items {
  position: absolute;
  border-radius: 0.25rem;
  inset: 0.2rem 1rem auto;
  width: 7.85rem;
  z-index: 4;
  border: 1px solid rgb(197, 195, 195);
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgb(197, 195, 195);
  background-color: #fff;
}

.profile-button-drop-down-elements {
  text-align: center;
}

.profile-button-drop-down-elements:hover {
  font-weight: 600;
}
