.group-details-header-title-body > h1 {
  margin-top: 0;
}

.group-details-header-outer {
  border-bottom: solid 1px lightgray;
  border-top: solid 1px lightgray;
  padding: 1.5% 0;
  width: 100%;
}
.group-details-header {
  display: flex;
  justify-content: space-around;
  max-width: 850px;
  margin: auto;
  color: #212121;
}

.group-details-header-image-container {
  width: 65%;
}

#group-details-header-image {
  max-width: 25rem;
  border-radius: 10px;
}

.group-details-header-title-body {
  width: 35%;
}


.group-details-header-spans {
  padding-left: 0.5rem;
}

.group-details-nav-bar-container {
  display: flex;
  border-bottom: solid 1px lightgray;
  padding: 0.5% 0;
  width: 100%;
}

.group-details-nav-bar,
.group-details-main-body-wrapper {
  display: flex;
  max-width: 850px;
  width: 100%;
  margin: auto;
}


.group-details-nav-bar-buttons-container {
  display: flex;
}
.group-details-nav-bar-buttons {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items:center;
}

.group-page-navLinks {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #2e3e48;
  margin:0;
  padding:0;
  height:fit-content
}
.group-page-navLinks >span {
  vertical-align: middle;
    margin:0;
  padding:0;
}

.active {
  color: #0098ab;
}

.group-details-main-body-left {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.group-details-body-container {
  background-color: #f6f7f8;
  width: 100vw;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.group-details-nav-bar-dropdown {
  width: 40%;
}
.group-details-main-body-right {
    width:35%;
    padding-left:40px;
}
.group-details-main-body-right-sticky-menu {
  position: sticky;
  width: 100%;
}

.event-card-container {
  border-radius: 5px;
  background-color: white;
  width:97%;
  height:9rem;
  padding:.35rem;
  margin:.35rem 0;
}

.event-card-container:hover {
  background-color: rgb(251, 251, 251);
  box-shadow:0 0 1px gray;
  cursor: pointer;
}

.group-details-upcoming-events {
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.event-card-date-and-time {
  color:#00a2c7;
}

.event-card-top-half {
  display:flex;
  flex-direction: row;
  width:100%;
}
.event-card-top-half-left {
  flex-grow: 1;
  max-width:70%;
  margin-left:.5rem;
}
.event-card-top-half-right {
  max-width:30%;
  margin-right:.5rem;
}
.event-preview-image {
  width:100%;
  object-fit: cover;
  border-radius: 5px;
}

.group-detail-nav-bar-inner-button-div {
  display:flex;
  justify-content: center;
  align-items: center;
  padding:.45rem;
  color: #2e3e48;
}

.group-detail-nav-bar-inner-button-div > .fa-angle-down {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.group-detail-nav-bar-button {
  background-color: #f6f7f8;
  border: 1px solid #e6e6e6;
  border-radius: .25rem;
  margin-left:2rem;

}

.group-detail-nav-bar-button:hover {
  cursor: pointer;
  background-color: #f0efef;

}

.group-details-main-body-title {
  overflow:hidden;
  text-overflow: ellipsis;
}

.group-detail-nav-bar-dropdown-container {
  position: relative;
}

.group-detail-nav-bar-dropdown-container-items {
  position: absolute;
  border-radius: 0.25rem;
  margin-left: 2.25rem;
  width:8rem;
  top:.25rem;
  z-index: 4;
  border: 1px solid rgb(197, 195, 195);
    border-radius: .25rem;
    box-shadow: 0 0 5px rgb(197, 195, 195);
    background-color: #fff;
}
