.user-page-left-details {
  box-sizing: border-box;
  width: 100%;
  margin-top: 2.5rem;
  background-color: #f6f7f8;
  /* border: 1px red solid; */
  border-radius: 0.25rem;
  padding-bottom: 1rem;
  padding:.5rem;
}

.user-page-event-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 96%;
}

.user-page-link {
  text-decoration: none;
  color: #008294;
}

.user-page-link:hover {
  text-decoration: underline;
}

.user-page-left-event-card-preview {
  border: 1.75px rgb(197, 195, 195) solid;
  border-radius: 0.25rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.user-page-left-event-card-title-container1 {
  width: 94%;
  display: flex;
}

.user-page-left-event-card-title-container2 {
  box-sizing: border-box;
  border-bottom: 1.75px rgb(197, 195, 195) solid;
  width: 94%;
  padding:1rem 0;
  display: flex;
}

.user-page-left-event-card-image {
  border-radius: 0.25rem;
  width: 4rem;

}

.user-page-left-event-card-title-text {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.user-page-left-event-card-event-info-container {
  width: 94%;
  padding: 1rem 0;
}

.user-page-group-container-cards {
  width: 96%;
  margin: auto;
  margin-bottom:1rem;

}

.user-page-group-card {
  box-sizing: border-box;
  width: 100%;
  height: 4.5rem;
  border: .5px rgb(197, 195, 195) solid;
  background-color: white;
  border-radius: .25rem;
  display:flex;
  align-items: center;
  margin:.5rem 0;
  padding: .5rem;
}

.user-page-group-card:hover {
    cursor: pointer;
}


.user-page-left-group-card-image, .user-page-left-event-card-image {
  border-radius: 0.25rem;
  width: 4rem;
  height:3rem;
  object-fit: cover;
  display: flex;
}
