.user-page-container {
    width:100%;
    min-height:100vh;
    border:1px red solid;

}

.user-page-body-container {
    width:70%;
    margin:auto;
    /* border:1px red solid; */
    height:100%;
}

.user-page-content-body-container{
    width:100%;
    /* border:1px red solid; */
    display:flex
}

.user-page-content-body-container-left{
    width:300px;
    /* border:1px red solid; */
    margin-right:1.5rem;
    margin-top:2rem;
}

.user-page-content-body-container-right{
    /* border:1px red solid; */
    flex-grow:1;
}
