
.user-page-left-details {
    width:100%;
    margin-top:2.5rem;
    background-color: #f6f7f8;
    border-radius: .25rem;
}

.user-page-event-title-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:.5rem
}


.user-page-link {
    text-decoration: none;
    color:#008294;
}
