.user-page-container {
  width: 100%;
  min-height: 120vh;
}

.user-page-body-container {
  width: fit-content;
  margin: auto;
  border: 1px solid purple;
  height: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}

#user-page-title {
  font-size: 42px;
}

#user-page-sub-title {
  font-size: 24px;
}

.user-page-content-body-container {
  width: 100%;
  border: 1px solid green;
  display: flex;
  margin-top: 4.25rem;
}

.user-page-content-body-container-left {
  width: 400px;
  border: 1px red solid;
  margin-right: 1.5rem;
}

.user-page-content-body-container-right {
  border: 1px red solid;
  min-width: 30rem;
  width: 40rem;
  padding-left: 1rem;
}

.user-page-joined-title {
  font-size: 20px;
}
