/* TODO Add site wide styles */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* h1.a {font-family: "Poppins", sans-serif;} */

#root {
  min-height: 100vh;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.full-rounded-profile {
  font-size: 2rem;
}

.event-page-title-host-container {
  display: flex;
}

p {
  font-weight: 300;
}
