.hidden {
    display:none
}

.nav-bar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height:64px;
}

#nav-bar-logo-image {
    width:75px;
    padding-left:20%
}

.log-in {
    display:inline-block;
    color: #212121;
    margin-right:20px;
    font-size:.875rem;
}

.nav-bar-user-right {
    display:flex;
    flex-direction: row;
}

.nav-bar-create-group {
    margin-right: 1rem;
    font-size:.875rem;
}

#create-group {
    text-decoration: none;
    color:#008294;
}
